{% extends 'mytrip/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <!--<form action="" method="post">-->
    <!--<label for="l_box1"><input type="radio" name="display_type" value="one" id="l_box1">One Way</label>-->
    <!--<label for="d_box2"><input type="radio" name="display_type" value="two" id="d_box2">Two Way</label>-->
    <!--</form>-->

	<form method="POST">
		<div class="col-md-5">
			{% csrf_token %}
            {{form|crispy}}
			<input type="submit" class="btn btn-login" name="Search" value="Search">
            <br>
            <br>
        </div>

       <p style="color: red"> {{error}}</p>

	</form>
</div>
<div class="row">

    <h2 class="text-center"> {{header}}</h2>

    <table class="table" style="background-color: white">
        <thead>
        <th>Out Airlines</th>
        <th>Origin Airport</th>
        <th>In Airlines</th>
        <th>Destination Airport</th>
        <th>Start Date</th>
        <th>Return Date</th>
        <th>Price</th>
        </thead>
        {% for airline_data in flights_data %}
        <tbody>
        <td>
            {% for carriers in airline_data.carrier%}
        {% for outcarriers in airline_data.outcarrier%}
            {% if carriers.CarrierId == outcarriers %}
                {{carriers.Name}}

            {%endif%}
            {%endfor%}
        {%endfor%}
        </td>


        <td>{{ airline_data.origin }} - {{airline_data.airportorigin}}</td>
        <td>
            {% for carriers in airline_data.carrier%}
        {% for incarriers in airline_data.incarrier%}
            {% if carriers.CarrierId == incarriers %}
                {{carriers.Name}}

            {%endif%}
            {%endfor%}
        {%endfor%}
        </td>

        <td> {{airline_data.destination}} - {{airline_data.airportdest}}</td>
        <td>{{airline_data.startdate}}</td>
        <td>{{airline_data.returndate }}</td>
        <td>{{airline_data.symbol}}{{airline_data.price}}</td>
        </tbody>
        {% endfor %}
    </table>


	<!--{{data}}-->
</div>
</div>
{% endblock %}