{% extends 'mytrip/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    #table-wrapper {
  position:relative;
    }
    #table-scroll {
      height:500px;
      overflow:auto;
      margin-top:20px;
    }
    #table-wrapper table {
      width:100%;

    }
    #table-wrapper table * {
      background:white;
      color:black;
    }
    #table-wrapper table thead th .text {
      position:absolute;
      top:-20px;
      z-index:2;
      height:20px;
      width:35%;
      border:1px solid red;
    }

</style>
<br>
  <div class="container">
    <h1>Search for places to eat</h1>
    <form method="POST">
        <table>
          {% csrf_token %}
          {{ form|crispy }}
        <button type="submit" class="btn btn-login">
                                    search
                                </button>
        </table>
        {{error}}
    </form>

  <div>
<div id="table-wrapper">
          <div id="table-scroll">
  <table class="table" style="background-color: white">
      <thead>
      <th>Name</th>
      <th>Timings</th>
      <th>Avg. Price for 2</th>
      <th>Location Address</th>
      <th>Review Ratings</th>
      </thead>
    {% for eachResturant in data.restaurants %}
      <tbody>
      <td>{{eachResturant.restaurant.name}}</td>
      <td>{{eachResturant.restaurant.timings}}</td>
      <td>{{eachResturant.restaurant.average_cost_for_two}}</td>
      <td>{{eachResturant.restaurant.location.address}}</td>
      <td>{{eachResturant.restaurant.user_rating.aggregate_rating}}</td>
      </tbody>
    {% endfor %}
  </table>
          </div>
</div>
      <br>
</div>
  </div>
{% endblock %}
